# Android.gitignore
# Built application files
*.apk
*.ap_
*.aab

# فایل‌های تولید شده اندروید
*.apk
*.ap_
*.aab

# فایل‌های Gradle
.gradle/
build/

# فایل‌های محلی
local.properties

# فایل‌های IDE
.idea/
*.iml

# فایل‌های موقت
.DS_Store
Thumbs.db